@import "./logo.scss";
@import "./video.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Comfortaa", cursive;
}
section {
  height: 100vh;
  overflow-x: hidden;
  //Debug
  // &:nth-child(odd) {
  //   background-color: bisque;
  // }
}
canvas {
  position: absolute;

  opacity: 0;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  max-width: 100vw;
  max-height: 100vh;
  transition: opacity 1s ease-in;
  &.loaded{
    opacity: 1.0;
  }
}
